.header {
    height: 120px;
}

.header h3 {
    margin-bottom: 0;
}

.datepicker {
    z-index: 1100;
}

.full-circle {
    height: 15px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    width: 15px;
}

.red {
    background-color: #ad1417;
}

.yellow {
    background-color: #ada906;
}

.green {
    background-color: #0ead00;
}